.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 80px auto 217px;
}
